*.iml*
.idea
.kubeconfig
**/vendor
_build
.vscode/
.local
.DS_Store
**/bin
cover.out
kubelb-*.tgz
__debug*
charts/*/charts
dist/

# Submodule directory (keep .gitmodules but ignore the actual submodule content)
kubelb/

cosign.*